<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="de.micmun.android.workdaystarget"
	android:versionCode="1"
	android:versionName="1.0" >
	<uses-sdk
		android:minSdkVersion="14"
		android:targetSdkVersion="17" />
	<permission
		android:name="de.micmun.android.workdaystarget.permission.ACCESS_SERVICE"
		android:description="@string/descServicePermission"
		android:protectionLevel="normal" >
	</permission>
	<uses-permission android:name="de.micmun.android.workdaystarget.permission.ACCESS_SERVICE" />
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<application
		android:allowBackup="true"
		android:icon="@drawable/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme" >
		<receiver android:name="de.micmun.android.workdaystarget.DaysLeftProvider" >
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data
				android:name="android.appwidget.provider"
				android:resource="@xml/appwidget_info" />
		</receiver>
		<activity
			android:name="de.micmun.android.workdaystarget.ConfigActivity"
			android:label="@string/app_name" >
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
			</intent-filter>
		</activity>
		<service
			android:name="de.micmun.android.workdaystarget.DaysLeftService"
			android:permission="de.micmun.android.workdaystarget.permission.ACCESS_SERVICE" >
			<intent-filter>
				<action android:name="de.micmun.android.workdaystarget.ACTION_UPDATE" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</service>
	</application>
</manifest>